body {
  font-family: var(--font-sans);
  background-color: var(--color-background-body);
  color: var(--color-text-primary);
  transition: background-color .4s ease, color .4s ease;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    scroll-behavior: auto !important;
    animation-duration: .01ms !important;
    transition-duration: .01ms !important;
  }
}
